<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>Test</title>
    <script type="text/javascript" src="../static/jquery/jquery-3.5.1.min.js"></script>
    <script th:inline="javascript">
    </script>
</head>

<style>
    .box table {
        margin: auto;
    }

     h5 {
         text-align: center;
         margin: auto;
     }
    form {
        text-align: center;
        padding: 10px;
        margin: auto;
    }

    .box  {
        background-color: skyblue;
        width: 100%;
        height: 100%;
    }

    html {
        /*background: url(./image/2.jpg);*/
        background-color: skyblue;
        width: 100%;
        height: 100%;
        font-weight: bolder;
    }

</style>

<body>
<div class="box">
    <h5>查询结果如下</h5>
    <form th:id="form_search" th:action="@{/admin/findByName}" method="post">
        <div id="box">
            <label for="search"></label><input id="search" type="search" name="name" placeholder="请输入关键字">
            <input type="submit" value="搜索">
        </div>
    </form>
    <table id="tb" border="solid" cellspacing="0">
        <tr>
            <th width="100">姓名</th>
            <th width="100">性别</th>
            <th width="100">年龄</th>
            <th width="100">身份证号码</th>
            <th>身份证类型</th>
            <th>家庭地址</th>
            <th>社区是否存在病例</th>
            <th>电话号码</th>
        </tr>
        <tr th:id="dr" th:name="dr" th:each="epidemicInfo : ${epidemicInfos}">
            <!--<td><input th:name="name" th:value="${epidemicInfo['name']}" ></td>-->
            <td th:id="name" th:name="name" th:text="${epidemicInfo['name']}"></td>
            <td th:text="${epidemicInfo['sex']}"></td>
            <td th:text="${epidemicInfo['age']}"></td>
            <td th:text="${epidemicInfo['id_card']}"></td>
            <td th:text="${epidemicInfo['id_type']}"></td>
            <td th:text="${epidemicInfo['id_type']}"></td>
            <td th:text="${epidemicInfo['inNative']}"></td>
            <td th:text="${epidemicInfo['phone']}"></td>
            <td><a th:href="@{/admin/deleteEpidemicInfo(name=${epidemicInfo['name']})}">删除</a></td>
        </tr>
    </table>
</div>
</body>
</html>