<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>疫情管理界面</title>
    <script type="text/javascript" src="/jquery/jquery-3.5.1.min.js" ></script>
    <script type="text/javascript">
        function search() {
            const field = $("name").serialize();
            const obj = {};
            obj[field.name]=field.value;
            //const name = $("#search").val();
            $.ajax({
                type:"post",
                url:"/findByName",
                asyc:true,
                contentType:"application/json; charset=UTF-8",
                //data:{"name":name},
                data: JSON.stringify(obj),
                cache:false,
                success : function(){
                    alert("发送成功");
                },
                error: function() {
                    alert("发送失败");
                }
            })
        }
        function findAll() {
            $.ajax({
                type:"GET",
                url:"/admin/queryAll",
                asyc:true,
                contentType:"application/json; charset=UTF-8",
                data: JSON.stringify(obj),
                cache:false,
                success : function(){
                    alert("发送成功");
                },
                error: function() {
                    alert("发送失败");
                }
            })
        }
    </script>
</head>
<body>
    <p>这是一个本地默认页面</p>
    <div id="box">
        <input id="search" type="search" name="search" placeholder="请输入关键字">
        <button formType="submit" class="btn" onclick="search()">搜索</button>

    </div>
    <div>
        <form action="/admin/queryAll">
            <input type="submit" value="查询所有">
        </form>
    </div>
</body>
</html>