<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员疫情管理界面</title>
</head>
<body>
    <table border="solid" class="table table-hover" cellspacing="0" >
        <caption>疫情信息展示页面</caption>
        <tr>
            <th width="100">序号</th>
            <th width="100">姓名</th>
            <th width="100">年龄</th>
            <th width="100">性别</th>
            <th width="100">体温</th>
            <th>家庭地址</th>
            <th>身份证</th>
            <th>手机号码</th>
            <th>是否去过高风险地区</th>
            <th>所在社区是否有病例</th>
        </tr>
        <tr>
            <td>1</td>
            <td>张三</td>
            <td>20</td>
            <td>男</td>
            <td>36.5</td>
            <td>江西省赣州市于都县段屋乡</td>
            <td>360731200104134536</td>
            <td>17834235657</td>
            <td>否</td>
            <td>否</td>
        </tr>
        <tr>
            <td>2</td>
            <td>李四</td>
            <td>21</td>
            <td>男</td>
            <td>36.5</td>
            <td>北京市海淀区</td>
            <td>364931200004158891</td>
            <td>17823231457</td>
            <td>否</td>
            <td>否</td>
        </tr>
        <tr>
            <td>3</td>
            <td>王五</td>
            <td>19</td>
            <td>男</td>
            <td>36.5</td>
            <td>广东省深圳市南山区</td>
            <td>3920312000208084547</td>
            <td>18723423119</td>
            <td>否</td>
            <td>否</td>
        </tr>
    </table>
</body>
</html>